# mkdocs
site/

# node / nuxt (fase F0 en adelante)
node_modules/
.nuxt/
.output/
dist/
.wrangler/

# tests
test-results/
playwright-report/
coverage/

# env
.env
.env.*
!.env.example

# editor / os
.DS_Store
